<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maintpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaintPro">
        <activity android:name=".SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".report.PdfViewerActivity" />
        <activity android:name=".report.ReportActivity" />
        <activity android:name=".client.InfoUpdateClient" />
        <activity android:name=".employee.InfoUpdateEmployee" />
        <activity android:name=".client.UpdateClient" />
        <activity android:name=".client.AddClient" />
        <activity android:name=".employee.UpdateEmployee" />
        <activity android:name=".employee.AddEmployee" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>